body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.questions,.web-standard,.web-subscription,.web-toggle,button,.web-aboutitem,a,.go-back,.template-div, .menu-bar, .dismiss-modal{cursor: pointer;}
nav{
    max-width: 500px;
}
.web-navbar{
    background: rgb(248, 248, 248);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(116, 115, 115, 0.1), 0 6px 20px 0 rgba(124, 123, 123, 0.19);
}

a{
    color: darkslategrey;
}
a:hover{
    color: darkslategrey;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.web-title{
    font-size: 23px;
    font-weight: 800;
}

.menu-bar{
    margin-right: 30px;
    display: none !important;
    @media(max-width: 493px){
        display: block !important;
    }
}


.first-child{
    border: 1px solid black !important;
    width: 30px;
    position: fixed;
    top: 28;
    right: 14;
}

.view{
    transform: rotate(45deg) !important;
    right: 21 !important;
    top: 40;
    transition: transform 0.3s ease-in-out;
}

.second-child{
    border: 1px solid black !important;
    width: 25px;
    position: fixed;
    top: 34;
    right: 15;
}

.view-one{
    transform: scale(0) !important;
    transition: transform 0.3s ease-in-out;
}

.last-child{
    border: 1px solid black !important;
    width: 20px;
    position: fixed;
    top: 40;
    right: 15;
}

.view-two{
    transform: rotate(-45deg) !important;
    width: 30px !important;
    right: 22 !important;
    transition: transform 0.3s ease-in-out;
}

.product-list{
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    gap: 20px;
    
    @media(max-width: 493px){
        display: none !important;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 100%;
        width: 100%;
        padding-right: 20px;
        padding-bottom: 20px;
        right: 0;
        background: rgb(248, 248, 248);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(116, 115, 115, 0.1), 0 6px 20px 0 rgba(124, 123, 123, 0.19);
    }
}

.product-view{
   display: flex !important;
   transform: translateY(0%);
   transition: transform 0.3s ease-in-out;
}

.drag-down{
    transform: translateY(10%);
    transition: transform 3s ease-in-out;
}
.drag-up{
    transform: translateY(-10%);
    transition: transform 3s ease-in-out;
}

.upload-success{
    z-index: 2000;
    position: sticky;
    top: 73; 
}

.upload-text{
    font-size: 16px;
    font-family: sans-serif;
}

.template-div{
    box-shadow: 0 4px 8px 0 rgba(116, 115, 115, 0.1), 0 6px 20px 0 rgba(124, 123, 123, 0.19);
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

#web-content > div{
    margin-top: 10px !important;
}
.upload-bdy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dismiss-modal{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px 20px 5px 0px;
}

.dismiss-modal > span{
    visibility: visible !important;
}

.upload-img{
    width: 200px;
    height: 200px;
}

.img-input, .upload-img{
    display: none !important;
}


.spinner-border{
    position: relative;
    left: 242;
    top: 0%;
}
.center-div{
    display: flex;
    justify-content: center;
}

.disabled{
    opacity: 0.5;
}

.input-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-input{
    border-color: skyblue;
    padding: 10px;
    border-radius: 10px;
}


.img-div{
    border: 1px solid grey;
    border-radius: 5px;
    border-style: dashed;
    margin-bottom: 10px;
    padding: 10px;
    width: 954px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(max-width: 1042px){
        width: 600px;
    } 
    @media(max-width: 636px){
        width: 530px;
    }
    @media(max-width: 540px){
        width: 259px;
    }
   
}
.web-about{
    background: lightsalmon;
    padding: 20px;
}

.web-amount{
    font-size: 40px;
}
.more-margin{
    margin-top: 211px;
}

.feature-include{
    display: flex;
    justify-content: center;
}

.web-welcome{
    font-weight: 800;
    font-size: 40px;
    color: rgb(255, 255, 255);
}


.products-content{
    display: flex;
    flex-direction: column;
}
.products{
    display: flex;
    margin: 10px auto 10px auto;
    align-items: center;
    max-width: 1000px;
    gap: 100px;
    padding: 20px;
    @media(max-width: 908px){
        flex-wrap: wrap
    }
}

@keyframes inward{
    from{
    transform: translateX(100%);
    opacity: 0;
    };
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

.products>h3{
    animation: inward 1s ease-out;
}

.web-subscriptions{
    background: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
    padding: 4px 14px 4px 14px;
}

.web-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 0.5px solid lightgrey;
    background: rgb(247, 247, 247);
    max-width: 400px;
    margin: auto auto 10px auto;
    padding: 20px;
    @media(max-width: 375px){
        max-width: 300px;
        padding: 20px;
    }
}



.web-features{
    display: flex;
    flex-direction: column;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background: skyblue;
    border: skyblue;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    padding: 8px;
}
.standard{
    border: lightgreen;
    background: lightgreen;
    color: #ffffff;
    border-radius: 15px;
    padding: 3px 6px 3px 6px;
}

.web-innercontent{
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    /* margin-top: 20px; */
    padding: 20px;
    background-image: url('assets/3d-networkConnection.jpg');
    background-size: cover;
}

.web-modalcontainer, .invisible{
    display: none;
}
.modal-display{
    width: 100vw;
    height: 57vh;
    background: rgb(255 255 255 / 30%);
    z-index: 100;
    position: absolute;
    backdrop-filter: blur(10px);
    display: block;
}

.modal-bdi{
    background: #ffffff;
    z-index: 1500;
    position: fixed;
    right: 0;
    left: 0;
    top: 36;
    margin: 0px auto 0px auto;
    max-width: 1000px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(116, 115, 115, 0.1), 0 6px 20px 0 rgba(124, 123, 123, 0.19) ;
    @media(max-width: 1043px){
        max-width: 650px;
    }
    @media(max-width: 541px){
        max-width: 300px;
    }
}

.modal-bdy{
    background: #ffffff;
    z-index: 1500;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0px auto 0px auto;
    max-width: 1000px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(116, 115, 115, 0.1), 0 6px 20px 0 rgba(124, 123, 123, 0.19) ;
    @media(max-width: 1043px){
        max-width: 650px;
    }
    @media(max-width: 541px){
        max-width: 300px;
    }
}

.modal-content{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    height: 596px;
    overflow-y: scroll;
    @media(max-width: 541px) {
        grid-template-columns: auto;
        overflow-y: scroll;
    }
}

.p{
    line-height: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.web-faqs{
    max-width: 1200px;
    margin: 3px auto 3px auto;
    @media(max-width: 1115px){
        max-width: 600px;
    }
    @media(max-width: 640px){
        max-width: 500px;
    }
    @media(max-width: 533px){
        max-width: 300px;
    }
}

.answer{
    color: grey;
    display: none;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-100%);
    transition: tranform 0.3s ease-out, opacity 0.3s ease-out;
}

.show{
    display: block;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.questions{
    background: rgb(248, 248, 248);
    border-radius: 6px;
    margin: 3px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(116, 115, 115, 0.1), 0 6px 20px 0 rgba(124, 123, 123, 0.19);
}

.contact{
    font-size: 30px;
    font-weight: 600;
    opacity: 1;
}

.innerfooter{
    background: rgba(211, 211, 211, 0.3);
}

.footername{
    font-size: 40px;
    font-weight: 800;
}

.footer{
    background: darkslategray;
    color: #ffffff;
}

.footer-content:first-child,.footer-content:nth-child(2), .footer-content:last-child{
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 1 1 250px;
    padding: 15px;
}

.footer-div{
    font-size: 20px;
    font-weight: 800;
}

h6{
    font-weight: bold;
}
h5{text-align: center; font-weight: 800;font-size: 40px;}

.web-more{
    max-width: 1000px;
    font-weight: 600;
    font-size: 23px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s ease-out, opacity 1s ease-out ;
}

.buy-now{
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 45%;
    right: 100px;
    left: 100px;
    z-index: 150;
    max-width: 1000px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(116, 115, 115, 0.1), 0 6px 20px 0 rgba(124, 123, 123, 0.19);
    @media(max-width: 570px){
        width: 250px;
        left: 134px;
        top: 349px;
    }
    @media(max-width: 540px){
        left: 12px;
    }
}

.content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc-details{
    @media(max-width: 570px){
        text-wrap: nowrap;
    }
}

.slideIn{
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s ease-in, opacity 1s ease-in;
}

.fade-out{
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}
.web-contact{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.web-contact>img{
    border-radius: 50%;
}

.shift{
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.web-aboutitem{
    background: darkcyan;
    width: 250px;
    margin: 0px 10px 13px 10px;
    padding: 20px;
    border-radius: 15px;
}

.web-aboutitem:hover{
    width: 300px;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}

.web-aboutid{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    padding: 4px 20px 4px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 20px;
}

.web-abouttxt{
    font-weight: 600;
}

.web-aboutid,.web-abouttxt:hover{
    font-weight: bold;
    transition: font-weight 0.3s ease-in-out;
    
}

h3{
    text-align: center;
}

img{
    height: 50px;
    width: 50px;
}

.close{
    text-align: end;
}

.close:first-child{
    visibility: hidden;
}

.template-img{
    width: 100%;
    height: 100%;
}

.visible{
    display: block !important;
}

.bi-trash3{
    position: absolute;
}

.go-back{
    color: #0000ff;
}
.expand{
    width: 100%;
    margin-left: 40px;
    @media(max-width: 540px){
        margin-left: 0px;
    }
}
.resized-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

ol{
    list-style: disc;
}
.progress{
    position: sticky;
    z-index: 2000;
    top: 0;
    visibility: hidden;
}